#cible {
  height: 100vh;
  background-color: rgb(14, 0, 53);
  -webkit-transition: all .5s ease-in;
  transition: all 0.7s ease-in-out;
}

#cible img {
  margin-left: 5vw;
  margin-top: 30vh;
  height: 20vw;
  -webkit-transition: all .5s ease-in;
  transition: all 0.7s ease-in-out;
}

#cible:target img {
  height: 3vw;
  margin-left: 2vw;
  margin-top: 1vw;
}


#cible:target {
  height: 5vw;
}





