@font-face {
  font-family: "caption";
  src: url("../font/OpenSerif-Book.ttf")
}

header {
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  height: 8vh;
  background-color: rgb(10, 0, 35);
  font-family: "space";
  font-size: 30px;
}

footer {
  height: 10vh;
  background-color: rgb(31, 27, 48);
  margin-top: 1vw;
}

.logo{
  height: 6vh;
  padding-left: 1vh;
  padding-top: 1vh;
}

article {
  background-color: rgb(240, 240, 240);
  width: 60vw;
  height: 13vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  font-family: "caption";
  text-align: center;
}

article h1 {
  font-size: 7vw;
  padding-top: 1vw;
  color: rgb(43, 43, 43);
}

article h2 {
  font-size: 1.5vw;
  padding-top: 1.5vw;
  color: rgb(116, 116, 116);
}

figure {
  background-color: rgb(240, 240, 240);
  width: 60vw;
  height: 44vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
}

.photo img {
  padding-top: 2vw;
  padding-left: 2vw;
  width: 56vw;
}

figcaption {
  padding-top: 0.5vw;
  padding-left: 3vw;
  font-family: "caption";
  opacity: 0;
  font-size: 1.5vw;
}

figure:hover figcaption {
  opacity: 1;
}

