@font-face {
  font-family: "Space";
  src: url("./font/A-Space\ Black\ Demo.otf")
}

header {
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 80px;
  width: 500px;
  background-color: rgb(14, 0, 53);
  font-family: "space";
  font-size: 30px;
}

.presentation {
  margin-top: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(169, 171, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.presentation h2{
  padding-left: 30px;
  padding-top: 10px;
}

.presentation p{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.atter img{
  width: 460px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.atter {
  margin-top: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(169, 171, 255);
}

.atter p{
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.atter a{
  font-family: space;
  color: rgb(14, 0, 53);
  text-decoration: none;
  font-size: 25px;
}

.atter h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 30px;
  padding-top: 10px;
}
